.slider {
  -webkit-appearance: none;
    
  
  outline: none;
  opacity: 1;
  
    
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-runnable-track  {
  
  /* Hides the slider so custom styles can be added */
  background-image: url('https://playcanvas.com/api/assets/files/UI/_UpdatedUI/Group%20312.png?id=48807101&branchId=b861159e-2922-42f7-aea8-d26f2b57e782&t=3cfa0950a93d78f9e2e7919f429ea205');
  height: 30px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
}

.slider::-moz-range-track {
  
  /* Hides the slider so custom styles can be added */
  background-image: url('https://playcanvas.com/api/assets/files/UI/_UpdatedUI/Group%20312.png?id=48807101&branchId=b861159e-2922-42f7-aea8-d26f2b57e782&t=3cfa0950a93d78f9e2e7919f429ea205');
  height: 30px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
}

.slider::-ms-track {
  
  /* Hides the slider so custom styles can be added */
  background-image: url('https://playcanvas.com/api/assets/files/UI/_UpdatedUI/Group%20312.png?id=48807101&branchId=b861159e-2922-42f7-aea8-d26f2b57e782&t=3cfa0950a93d78f9e2e7919f429ea205');
  height: 30px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 24px;
  border: 0;
  background-image: url('https://playcanvas.com/api/assets/files/UI/_UpdatedUI/Group%201.png?id=48840104&branchId=b861159e-2922-42f7-aea8-d26f2b57e782&t=3a514181670cd36ec8f8a328d5eb71a6');
  cursor: pointer;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
}

.slider::-moz-range-thumb {
  width: 35px;
  height: 24px;
  border: 0;
  background-image: url('https://playcanvas.com/api/assets/files/UI/_UpdatedUI/Group%201.png?id=48840104&branchId=b861159e-2922-42f7-aea8-d26f2b57e782&t=3a514181670cd36ec8f8a328d5eb71a6');
  cursor: pointer;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
}

.slider::-ms-thumb {
  width: 35px;
  height: 24px;
  border: 0;
  background-image: url('https://playcanvas.com/api/assets/files/UI/_UpdatedUI/Group%201.png?id=48840104&branchId=b861159e-2922-42f7-aea8-d26f2b57e782&t=3a514181670cd36ec8f8a328d5eb71a6');
  cursor: pointer;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain;
}