.container {
    position: absolute;
    
    box-shadow: 0 0 16px rgba(0, 0, 0, 0);
}



.container > .slider {
    -webkit-appearance: slider-vertical;
    width: 10px;
    height: 200px;
    border-radius: 5px;  
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    display: block;
    
}

.container > .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 25%; 
    background: url('/api/assets/files/button.png?id=47422674');
    cursor: pointer;
}

.container > .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 25%;
        background: url('/api/assets/files/button.png?id=47422674');

    cursor: pointer;
}
